{% extends "base.html" %}
{% block content %}
{% load staticfiles%}
<div class="row justify-content-md-center">
  <div class="col-md-4 jumbotron w-100 p-20 text-center">
    <div class="card">
      <h5 class="card-header">Вход</h5>
      <div class="card-body">
        <p class="card-text">
          {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
              {% else %}
              <p>Please login to see this page.</p>
              {% endif %}
              {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h3>{{ form.username.label_tag }}</h3>
                <h3>{{ form.username }}</h3>
                <h3>{{ form.password.label_tag }}</h3>
                <h3>{{ form.password }}</h3>
          </p>
              <div>
                <input class="btn btn-primary btn-lg" type="submit" value="Войти"/>
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
